.box {
  position: relative;
  top: 170px;
  display: grid;
  grid-template-columns: repeat(3, 193px);
  grid-template-rows: repeat(3, 193px);
  justify-content: center;
  align-content: center;
  gap: 63px;
  text-align: center;
  transition: transform initial 0.5s;
  cursor: pointer;
}
.wheel {
  position: absolute;
  background: #e07a64;
  border-radius: 50%;
  z-index: 1;
}
